services:
  traefik:
    image: traefik:v3.5
    ports:
      - 80:80
      - 8080:8080
    deploy:
      placement:
        constraints:
          - node.labels.traefik-public.traefik-public-certificates == true
      labels:
        - traefik.enable=true
        - traefik.docker.network=traefik-public
        - traefik.constraint-label=traefik-public
        - traefik.http.middlewares.secure-headers.headers.framedeny=true
        - traefik.http.middlewares.traefik-compress.compress=true
        - traefik.http.routers.traefik-public-http.rule=Host(`localhost`)
        - traefik.http.routers.traefik-public-http.entrypoints=8080
        - traefik.http.services.traefik-public.loadbalancer.server.port=8080
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - traefik-public-certificates:/certificates
    command:
      - --providers.swarm.endpoint=unix:///var/run/docker.sock
      - --providers.swarm.constraints=Label(`traefik.constraint-label`, `traefik-public`)
      - --providers.swarm.exposedbydefault=false
      - --entrypoints.http.address=:80
      - --entrypoints.3000.address=:3000
      - --entrypoints.3001.address=:3001
      - --entrypoints.3002.address=:3002
      - --entrypoints.3003.address=:3003
      - --entrypoints.3004.address=:3004
      - --entrypoints.8080.address=:8080
      - --accesslog
      - --log
      - --api
    networks:
      - traefik-public

volumes:
  traefik-public-certificates:

networks:
  traefik-public:
    external: true