networks:
  traefik-public:
    external: true
  redis-network:
    driver: bridge

volumes:
  data:
  redis:
  minio-data:

services:
  app:
    restart: unless-stopped
    container_name: deploy-party-app
    image: ghcr.io/lennetech/deploy.party/app:latest
    entrypoint: ['/bin/sh', '-c']
    depends_on:
      - api
    networks:
      - traefik-public
    env_file:
      - .env
    healthcheck:
      test: curl --fail http://localhost:3000 || exit 1
      interval: 60s
      retries: 5
      start_period: 20s
      timeout: 10s
    ports:
      - '3001:3000'
    deploy:
      update_config:
        order: start-first
        failure_action: rollback
        delay: 10s
      rollback_config:
        order: stop-first
      restart_policy:
        condition: any
        delay: 5s
        max_attempts: 3
        window: 120s
    command:
      - |
        npm run build
        node .output/server/index.mjs

  api:
    restart: unless-stopped
    container_name: deploy-party-api
    depends_on:
      - db
      - redis
    image: ghcr.io/lennetech/deploy.party/api:latest
    networks:
      - traefik-public
      - default
    volumes:
      - '/var/run/docker.sock:/var/run/docker.sock'
      - '/data:/data'
    env_file:
      - .env
    healthcheck:
      test: curl --fail http://localhost:3000/meta || exit 1
      interval: 60s
      retries: 5
      start_period: 20s
      timeout: 10s
    ports:
      - '3000:3000'
      - '3002:4800'
    deploy:
      update_config:
        order: start-first
        failure_action: rollback
        delay: 10s
      rollback_config:
        order: stop-first
      restart_policy:
        condition: any
        delay: 5s
        max_attempts: 3
        window: 120s
    entrypoint: ['/bin/sh', '-c']
    command:
      - |
        npm run migrate:prod:up
        node ./dist/src/main.js

  redis:
    image: redis:7.2
    restart: always
    command: redis-server --save 20 1 --loglevel warning --requirepass ${NSC__REDIS__PASSWORD}
    env_file:
      - .env
    volumes:
      - redis:/data

  db:
    image: mongo:5.0
    networks:
      - default
    env_file:
      - .env
    volumes:
      - data:/data/db

  minio:
    image: quay.io/minio/minio:latest
    command: 'server /data --console-address ":9001"'
    networks:
      - traefik-public
    env_file:
      - .env
    ports:
      - '9000:9000'
      - '9001:9001'
    volumes:
      - 'minio-data:/data'
    healthcheck:
        test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
        interval: 5s
        timeout: 20s
        retries: 10
    deploy:
      update_config:
        order: start-first
        failure_action: rollback
        delay: 10s
      rollback_config:
        order: stop-first
      restart_policy:
        condition: any
        delay: 5s
        max_attempts: 3
        window: 120s