<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body class="h-screen w-full p-10 bg-[#1D2025] text-[#d5d6d7]">
        <img src="https://lennetech.app/logo.png" alt="logo" class="w-full mb-5" />
        <h1 class="text-4xl font-semibold mb-5">Invitation</h1>
        <p class="text-base">you invited to <%= instanceName %> - deploy.party instance. </p>
        <p class="text-base mb-5">Click the button to set a password and getting started.</p>
        <a class="bg-[#84cc16] hover:bg-[#68a30d] duration-200 text-white px-5 py-2 text-base" href="<%= link %>">Click here</a>
    </body>
</html>
